
#ignore temp files 
Examples$ cd AutopipelineInpt/QC/*~
Examples$ cd AutopipelineInpt/blank/*~
Examples$ cd AutopipelineInpt/sample1/*~
Examples$ cd AutopipelineInpt/sample2/*~
Examples$ cd AutopipelineInpt/sample3/*~
