Examples/AutopipelineInpt/blank/*.mzxml~
Examples/AutopipelineInpt/QC/*.mzxml~
Examples/AutopipelineInpt/sample1/*.mzxml~
Examples/AutopipelineInpt/sample2/*.mzxml~
Examples/AutopipelineInpt/sample3/*.mzxml~

